<%= turbo_stream_from recording %>
<article class="article-card">
  <div class="article-card__layout">
    <div class="article-card__content">
      <h2 class="article-card__title">
        <%= link_to recording.recordable.title, recording, class: "article-card__title-link", data: { turbo_frame: "_top" } %>
      </h2>
      <% if recording.recordable.body.present? %>
        <p class="article-card__excerpt"><%= truncate(recording.recordable.body, length: 200) %></p>
      <% end %>
      <p class="article-card__meta">
        <span class="article-card__author"><%= recording.creator.person_card.name %></span>
        <span class="article-card__timestamp"><%= time_ago_in_words(recording.created_at) %> ago</span>
        <span class="article-card__comments">
          <%= render CounterCache.for(recording, "comments") %>
          comments
        </span>
      </p>
    </div>
  </div>
</article>
