<div class="page page--medium">
  <%= link_to "&larr; Back to Articles".html_safe, articles_path, class: "back-link" %>

  <article class="article-detail">
    <header class="article-detail__header">
      <h1 class="article-detail__title"><%= @recording.recordable.title %></h1>
      <div class="article-detail__meta">
        <span>Created <%= time_ago_in_words(@recording.created_at) %> ago</span>
        <% if @recording.updated_at != @recording.created_at %>
          <span class="article-detail__meta-separator">|</span>
          <span>Updated <%= time_ago_in_words(@recording.updated_at) %> ago</span>
        <% end %>
      </div>
    </header>

    <% if @recording.recordable.body.present? %>
      <div class="article-detail__body">
        <%= simple_format(@recording.recordable.body) %>
      </div>
    <% else %>
      <p class="article-detail__empty">No content.</p>
    <% end %>
  </article>

  <div class="article-actions">
    <%= link_to "Edit", edit_article_path(@recording), class: "btn btn--primary" %>
    <%= button_to "Delete", @recording, method: :delete, class: "btn btn--danger", form: { data: { turbo_confirm: "Are you sure you want to delete this article?" } } %>
    <% if @recording.recordable.publishable? %>
      <%= render "publications/toggle", recording: @recording %>
    <% end %>
  </div>

  <%# Timeline Section %>
  <%= render "timelines/timeline", recording: @recording %>

  <%# Comments Section %>
  <% if @recording.recordable.commentable? %>
    <section class="comments-section">
      <h2 class="comments-section__title">Comments</h2>

      <div id="comments" class="comments-section__list">
        <% @recording.comments.each do |comment_recording| %>
          <%= render partial: "comments/comment", locals: { comment_recording: comment_recording } %>
        <% end %>
      </div>

      <%= render "comments/form", parent_recording: @recording, comment: Comment.new %>
    </section>
  <% end %>
</div>
